.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  background-color: #f9f9f9;
}

.product-card {
    text-decoration: none;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 1rem;
  text-align: center;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-title {
  
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.75rem 0 0.25rem;
  color: #333;
}

.product-price {
  font-size: 1rem;
  color: #27ae60;
  font-weight: 500;
  margin-bottom: 0.5rem;
}



/* Mobile devices (up to 600px) */
@media (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .product-card {
    padding: 0.75rem;
  }

  .product-image {
    height: 180px;
  }

  .product-title {
    font-size: 1rem;
  }

  .product-price,
  .product-brand,
  .rating {
    font-size: 0.85rem;
  }
}











/* Tablets (600px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
  }

  .product-image {
    height: 190px;
  }
}

/* Large screens (above 900px) */
@media (min-width: 901px) {
  .main {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .product-image {
    height: 200px;
  }
}